.example-container {
    width: 100%;
    height: 100vh;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

mat-drawer-content {
    // display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.drawer {
    width: 280px;
    background-color: #2D323E;
    .toolbar {
        background-color: #1e2129!important;
        .nombre-empresa {
            font-size: initial;
            color: hsla(0, 0%, 100%, .7)!important;
            display: flex;
            .bike {
                font-size: 30px;
            }
            .nombre {
                margin: 0 0 0 10px;
            }
        }
    }
    .infoUser {
        height: 120px;
        background-color: #1e2129!important;
        text-align: center;
        color: white;
        .nombre {
            font-size: large;
        }
        .correo {
            font-size: initial;
        }
    }
    .conten-img-user {
        position: absolute;
        top: 146px;
        right: 111px;
        background-color: #2D323E;
        border-radius: 50px;
        height: 70px;
        width: 70px;
        .img-user {
            height: 48px;
            width: 48px;
            background: white;
            border-radius: 50%;
            margin: 10px 5px 5px 11px;
            .material-icons {
                font-size: 48px;
            }
            .img-gmail {
                width: 50px;
                border-radius: 50%;
            }
        }
    }
}

.btnToggle {
    width: 35px;
    height: 35px;
    color: rgba(255, 255, 255, 0.87);
    border: rgba(255, 255, 255, 0.87) 1px solid;
    background: rgba(255, 255, 255, 0);
    border-radius: 5px;
    padding: 4.5px;
}

.menu {
    height: 79vh;
    background-color: #2D323E;
}

.contenido {
    padding: 10px;
}

.menu {
    padding-top: 50px;
    .item-menu {
        font-size: 20px;
        color: white;
        display: flex;
        padding: 8px 0 8px 0;
        .icon-menu {
            margin: 0 10px;
        }
        // .name-menu {}
    }
    .item-menu:hover {
        background-color: #1e21297c;
    }
}