<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2> Mis Ordenes</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 " style="display: flex;">
            <mat-form-field appearance="outline">
                <mat-label>Ordenes de: </mat-label>
                <mat-select (selectionChange)="cambioTienda($event)" [formControl]="ptoRetiroControl">
                    <mat-option [value]="'-1'">- TODAS -</mat-option>
                    <mat-option *ngFor="let pto of ptoRetiro" [value]="pto.id">
                        {{pto.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!--<span class="spacer"></span>
            <mat-form-field appearance="outline">
                <mat-label>Busqueda</mat-label>
                <input type="number" matInput placeholder="Codigo de seguimiento" (ngModelChange)="filter($event)" [formControl]="inpFiltro">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>-->
        </div>
    </div>
    <div class="row">
        <!-- <div class="col-lg-1">
        </div> -->
        <mat-nav-list>
            <mat-list-item class="order-container" *ngFor="let item of ordenes" (click)="verOrden(item)">
                <div>
                    <div class="row">
                        <div class="col-lg-12 head-orden">
                            <div class="seguimiento">
                                <div>
                                    <span [ngStyle]="getEstado(item.seguimiento)"><mat-icon>fiber_manual_record</mat-icon></span>
                                </div>
                                <div>
                                    Codigo: <span class="codigo-seg">{{item.cod_seguimiento}}</span>
                                </div>
                            </div>

                            <div class="fechas">
                                <div class="creacion">
                                    Fecha creación: {{item.fecha_inicio | date:'dd/MM/yyyy HH:mm'}}
                                </div>
                                <div>
                                    <span class="guion">-</span>
                                </div>
                                <div class="entrega">
                                    Fecha entrega: {{item.fecha_fin | date:'dd/MM/yyyy HH:mm'}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="estado">
                                        <app-estados [estados]="item.seguimiento"></app-estados>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="row">
                                        <div class="col-lg-12"><span class="descripcion">{{item.descripcion}}</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <span class="valor-total"> $ {{item.valor_total | formatNumber}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <span class="spacer"></span>

                                    <!-- <button mat-icon-button [matMenuTriggerFor]="menuOrden" aria-label="Example icon-button with a menu" class="menu-encomienda">
                                        <mat-icon>more_vert</mat-icon>
                                      </button> -->
                                    <mat-menu #menuOrden="matMenu">
                                        <button (click)="verDetalle(item)" mat-menu-item>
                                          <mat-icon>zoom_in</mat-icon>
                                          <span>Ver Detalle</span>
                                        </button>
                                        <button mat-menu-item>
                                            <mat-icon>help</mat-icon>
                                            <span>Necesito ayuda</span>
                                          </button>
                                    </mat-menu>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-list-item>
        </mat-nav-list>
        <!--<div class="col-lg-12 list-ordenes ">
            <div class="order-container" *ngFor="let item of ordenes">
                <div class="row">
                    <div class="col-lg-12 head-orden">
                        <div class="seguimiento">
                            <div>
                                <span [ngStyle]="getEstado(item.seguimiento)"><mat-icon>fiber_manual_record</mat-icon></span>
                            </div>
                            <div>
                                Codigo: <span class="codigo-seg">{{item.cod_seguimiento}}</span>
                            </div>
                        </div>

                        <div class="fechas">
                            <div class="creacion">
                                Fecha creación: {{item.fecha_inicio | date:'dd/MM/yyyy HH:mm'}}
                            </div>
                            <div>
                                <span class="guion">-</span>
                            </div>
                            <div class="entrega">
                                Fecha entrega: {{item.fecha_fin | date:'dd/MM/yyyy HH:mm'}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="estado">
                                    <app-estados [estados]="item.seguimiento"></app-estados>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col-lg-12"><span class="descripcion">{{item.descripcion}}</span></div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <span class="valor-total"> $ {{item.valor_total | formatNumber}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <span class="spacer"></span>
<button mat-icon-button [matMenuTriggerFor]="menuOrden" aria-label="Example icon-button with a menu" class="menu-encomienda">
                                    <mat-icon>more_vert</mat-icon>
                                  </button> 
        <mat-menu #menuOrden="matMenu">
            <button (click)="verDetalle(item)" mat-menu-item>
                                      <mat-icon>zoom_in</mat-icon>
                                      <span>Ver Detalle</span>
                                    </button>
            <button mat-menu-item>
                                        <mat-icon>help</mat-icon>
                                        <span>Necesito ayuda</span>
                                      </button>
        </mat-menu>
    </div>
</div>
</div>
</div>
</div>
</div>->
 <div class="col-lg-1">
        </div> -->
    </div>

</div>