.custom-dropzone {
    width: 370px;
}

.verdeExcel:hover {
    background: #369469;
    color: white;
    border-radius: 5px;
    border: solid 1px white;
}

.verdeExcel {
    background: #07734A;
    color: white;
    border-radius: 5px;
    border: solid 1px white;
}