<div class="container-fluid ">
    <div class="row">
        <div class="col-md-12 table-row">
            <div *ngIf="data.length === 0" class="mensaje">
                <div class="icono">
                    <span class="material-icons"> edit </span>
                </div>
                <div class="msj">
                    <h3> {{mensaje}}</h3>
                </div>
            </div>
            <table mat-table [dataSource]="dataSource" matSort *ngIf="data.length !== 0">
                <ng-container matColumnDef="{{item}}" *ngFor="let item of columnsToDisplay" [sticky]="item==='select'" [stickyEnd]="item==='accion'">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]="setStyleHeader(item)">
                        <div [ngSwitch]="item">
                            <div *ngSwitchCase="'select'">
                                <mat-checkbox (change)="masterSelect()" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                                </mat-checkbox>
                            </div>
                            <div *ngSwitchCase="'accion'">

                            </div>
                            <div *ngSwitchDefault>
                                <span class="span-hdr"> {{item | uperCaseFirst}} </span>
                                <button (click)="FiltrarBy(item)" class="btn-search-hdr" *ngIf="item!=='estado'">
                                    <fa-icon [icon]="getFilter(item)"></fa-icon>
                                </button>
                            </div>
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let fila" [ngStyle]="setStyleContent(item)">
                        <div [ngSwitch]="item">
                            <div *ngSwitchCase="'estado'" style="text-align: center; width: 35px;">
                                <app-estados [estados]="fila.estado" [isSemaforo]="true"></app-estados>
                            </div>
                            <div *ngSwitchCase="'select'">
                                <mat-checkbox (click)="$event.stopPropagation()" (change)="checked(fila)" [checked]="selection.isSelected(fila)" [aria-label]="checkboxLabel(fila)">
                                </mat-checkbox>
                            </div>
                            <div *ngSwitchCase="'accion'">
                                <button mat-button class="boton-icon" (click)="editarFila(fila)" *ngIf="isEdit">
                                    <span class="material-icons"> edit </span>                                
                                    </button>
                                <button mat-button class="boton-icon" (click)="verFila(fila)" *ngIf="isSee">
                                    <span class="material-icons"> search </span>
                                </button>
                            </div>
                            <div *ngSwitchDefault>
                                <div *ngIf="showSignalColumns(item)" [ngStyle]="{'text-align': 'center'}">
                                    {{fila[item]}}
                                    <fa-icon [ngStyle]="showIconSignal(fila[item]).style" [icon]="showIconSignal(fila[item]).icon"></fa-icon>
                                </div>
                                <div *ngIf="!showSignalColumns(item)" [ngStyle]="alignTextTo(item)">
                                    {{fila[item]}}
                                </div>
                            </div>
                        </div>
                    </td>
                    <!-- <td mat-footer-cell *matFooterCellDef> {{totalizador(item) | formateador}} </td> -->
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
                <tr mat-row *matRowDef="let fila; columns: columnsToDisplay" (click)="clickRow(fila)"></tr>
                <!-- <tr mat-footer-row *matFooterRowDef="columnsToDisplay; sticky: true"></tr> -->
            </table>
        </div>
    </div>
</div>
<div class="row" style="width: 100%;">
    <div class="col-md-12">
        <mat-paginator [pageSizeOptions]="paginacionSize" showFirstLastButtons></mat-paginator>
    </div>
</div>