.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
    width: 100%;
}

.ptoRegistrado {
    padding-top: 10px;
}

.card-header {
    border-bottom: 1px solid;
    background: white;
}

.card-content {
    padding-top: 10px;
}

.card-retiro {
    background: rgba(128, 128, 128, 0.07);
    max-height: 480px;
    overflow: auto;
}

.card-tienda {
    margin-top: 10px;
}

.cont-img {
    text-align: center;
    .imgTienda {
        width: 90%;
        // margin-left: 35px;
    }
}

.icono {
    font-size: 35px;
}

.stepName {
    text-align: center;
}

.mat-list-base .mat-list-item.mat-list-item-with-avatar,
.mat-list-base .mat-list-option.mat-list-item-with-avatar {
    height: 35px;
}

mat-card-title {
    padding: 10px 0 0 0;
}

.bike {
    margin: 71px 0 0 -5px;
    width: 35px;
}

.right {
    margin: 75px 0 0 0;
}

.left {
    margin: 75px 0 0 0;
}

.header-image {
    width: 35px;
}

.contenedor-valor {
    // padding: 70px 0 0 0;
    display: contents;
    span {
        font-size: 45px;
        margin: 10px;
    }
}

.btns {
    padding: 10px 0 0 0;
}