.card-header {
    border-bottom: 1px solid;
    background: white;
}
.card-content {
    padding-top: 10px;
}

.icono {
    font-size: 35px;
}

mat-form-field{
    width: 100%;
}

.calcular{
    margin: 10px;
}